# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
.next/
out/

# Prisma
*.db
*.sqlite
*.sqlite3
*.db-journal

# Uploads / user generated content
uploads/
/data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/

# OS Files
.DS_Store
Thumbs.db
web.zip
.gitignore
webnn.zip
web/public/index (3).html
web/public/55hauggfgfgfdgfdgfdfdhfdhfdhfdfh.html
webcccc.zip
rabbit-shop.zip
web/webd.zip
web/webffff.zip
web-updated (6).zip
web/chez-florence-refonte-home.zip
web/chez-florence-site (2).zip
web/chez-florence-web-updated.zip
web/web0.zip
web/chez-florence-web-updated (1).zip
web/chez-florence-web-fix (1).zip
web/chez-florence-tsx.zip
web/florence html.zip
ddSCROLLEMOTHER.html
Flyer vente de lapins.jpg
Rabbit Farm Flyer.jpg
téléchargement (11).jpg
téléchargement (10).jpg
web/chez-florence-refonte-v3.zip
web/chez-florence-refonte-v4.zip
web/chez-florence-refonte-v5.zip
k
k
web/webnew.zip
web/chez-florence-fond-marron.zip
